[Desktop Entry]
Name=OnlyFriends
Exec=onlyfriends %U
Terminal=false
Type=Application
Icon=org.integritetsbyran.OnlyFriends
StartupWMClass=OnlyFriends
Categories=Network;
